body{
    background-image: url(./assets/home.png);
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
  
    background-repeat: no-repeat;
    background-size: cover;
}
button{
    width: 100%;
    height: 100%;
    background: none;
border: none;
border-radius: 0.8rem;
    }
    button:hover{
        cursor: pointer;
        border: 2px rgba(255, 255, 255, 0.322) solid;
        transition: 0.2s;
    }
    #click{
        height: 2.4rem;
        display: flex;
        position: relative;
        left: 0%;
        position: absolute;
    left: 5%;
    top: 5%;
    width: 13.7rem;
    height: 4.5rem;
    }
html{
    font-size: 62.5%;
}
header{
    display: flex;
    justify-content: center;
    gap: 5.40rem;
    align-items: end;
    height: 8rem;
    width: 80rem;
    padding: 0;
}
a{
    text-decoration: none;
    color: white;
    font-size: 1.93rem;
    font-weight: 500;
    position: relative;
    left: 20%;
    bottom: 10%;
}
section{
    padding-left: 7.4rem;
    padding-top: 3.8rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
h1{
    color: white;
    font-size: 8.7rem;
    line-height: 10rem;
    font-family: "League Spartan", sans-serif;
}
h2{
    font-family: "League Spartan", sans-serif;
    color: white;
    margin: 0;
    font-size: 2rem;
    position: relative;
    left: 2%;
    bottom: 10%;
    user-select: none;
}
p{
    width: 45rem;
    color: white;

    font-size: 1.5rem;
    margin: 0;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media (width > 1439px){
    h2{
        left: 3.5%;
        top: 1.3%;

    }
    h1{
        font-size: 10rem;
    }
    p{
        font-size: 2.3rem;
    }
    section{
        padding-top: 5.5rem;
    }
}
@media (width > 1600px){
   h2{
    position: absolute;
    left: 3.5rem;
    top: 6rem;
}
header{
    position: relative;
    left: 10rem;
    height: 10rem;
    padding-inline: 0rem;
}
}