
button{
    width: 100%;
    height: 100%;
    background: none;
border: none;
border-radius: 0.8rem;
    }
    button:hover{
        cursor: pointer;
        border: 2px rgba(255, 255, 255, 0.322) solid;
        transition: 0.2s;
    }
    #click{
        height: 2.4rem;
        display: flex;
        position: relative;
        left: 0%;
        position: absolute;
    left: 5%;
    top: 5%;
    width: 13.7rem;
    height: 4.5rem;
    }
#first-third{
        background-color: #1d2530;
        background-image: url(../assets/historia-bg4.png);
        background-repeat: no-repeat;
        background-size: cover;
padding-bottom: 74rem;
}
#first-third h1{
    max-width: 60rem;
}
#half-left{
    width: 50%;
    height: 90vh;
    position: absolute;
    background-position: top 60%;
    background-repeat: no-repeat;
    right: 50%;
    bottom: 0;

}
body{
    height: fit-content;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
html{
    font-size: 62.5%;
}
header{
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    align-items: end;
    padding: 0;
    width: 84.2rem;
    height: 4rem;
}
nav{
    display: flex;
    gap: 4rem;
}
a{
    text-decoration: none;

    color: white;
    font-size: 1.93rem;
    font-weight: 500;
    position: relative;
    
}
section{
    padding-left: 7.4rem;
    padding-top: 3.8rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}
h1{
    color: white;
    font-size: 5rem;
    line-height: 5rem;
    font-family: "League Spartan", sans-serif;
}
h2{
    font-family: "League Spartan", sans-serif;
    color: white;
    margin: 0;
    font-size: 2.5rem;
    position: relative;
    left: 4rem;
    top: 0.7rem;
    user-select: none;
}
p{
    width: 45rem;
    color: white;

    font-size: 1.2rem;
    margin: 0;
    font-weight: 700;
    line-height: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
div{
display: flex;
position: relative;
top: 8rem;
flex-direction: column;
gap: 2rem;
}
span{
    font-size: 10rem;
}
#half-right{
    background-image: url(../assets/historia2-bg1.png);
    background-repeat: no-repeat;
    width: 180rem;
    height: 100vh;
    background-position: center;
}
#half-left2{
    padding: 0;
}
#half-left2 p{
    color: black;
    font-weight: 700;
    width: 90%;
    font-size: 1.4rem;
}
#half-left2 h1{
    color: black;
    width: 100%;
    font-size: 4.5rem;
}
#second-third{
    display: flex;
    flex-direction: row;
    padding-inline: 10rem;
    gap: 5rem;
}
#third-third{
    background-color: #1d2530;
    padding: 0;
    margin-top: 10rem;
    gap: 1rem;
    height: 48rem;
    justify-content: center;

}
#gap{
    margin: 0;

    padding: 0;
}
#third-third p, #third-third h1{
    width: 60rem;
    font-size: 1.5rem;
    margin: 0;

}
#third-third h1{
    font-size: 4rem;
    margin: 0;
}
.texto-principal{
    height: 45rem;
    margin: 0;
    height: fit-content;

}
#half-left3{
    gap: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: fit-content;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 14rem;
    left: 6rem;
    width: 60rem;
}
@media (width > 1500px){
    #second-third p, #second-third h2{
     font-size: 205%;
     line-height: 2.5rem;
    }
    h2{
        left: 6.6rem;
        top: 0.8rem;
    }
    #first-third p{
        font-size: 1.7rem;
    }
    #first-third h1{
        font-size: 3rem;
    }
 }